{% for alt in site.alternates %}
    {% if alt.lang == site.lang %}
        {% if page.lang and page.lang != site.lang %}
            <link rel="alternate" hreflang="{{ alt.lang }}" href="{{ site.url }}{{ page.url | replace: page.lang, '' }}" />
            <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url | replace: page.lang, '' }}" />
        {% else %}
            <link rel="alternate" hreflang="{{ alt.lang }}" href="{{ site.url }}{{ page.url }}" />
            <link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}" />
        {% endif %}
    {% else %}
        {% if page.lang and page.lang != site.lang %}
            <link rel="alternate" hreflang="{{ alt.lang }}" href="{{ site.url }}{{ page.url | replace: page.lang, alt.lang }}" />
        {% else %}
            <link rel="alternate" hreflang="{{ alt.lang }}" href="{{ site.url }}/{{ alt.lang }}{{ page.url }}" />
        {% endif %}
    {% endif %}
{% endfor %}